* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  left: 50%;
  top: 90vh;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.one{
  height: 100vh;
  color: white;
}
.solar{
  color: white;
}

.atom{
  height: 100vh;
  color: white;
  width: 100%;
  background-repeat: no-repeat;
}
.cells{
  height: 100vh;
  color: white;
  width: 100%;
  background-repeat: no-repeat;
}
.objects{
  height: 100vh;
  color: white;
  width: 100%;
  background-repeat: no-repeat;

}
.earth{
  height: 100vh;
  color: white;
  width: 100%;
  background-repeat: no-repeat;
}
.cells p{
  color: white;
}
.card{
  position: relative;
  top: 15vh;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.card1{
  margin-top: 40px;
  width: 30%;
  font-size: 20px;
  line-height: 30px;
}

@media all and (max-width: 700px){
  .card{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media all and (max-width: 900px) and (min-width: 640px){
  .card{
    font-size: 18px;
    line-height: 21px;
  }
}
@media all and (max-width: 640px) and (min-width: 390px){
  .card{
    font-size: 16px;
    line-height: 21px;
  }
}
@media all and (max-width: 390px){
  .card{
    font-size: 14px;
    line-height: 20px;
    top: 10vh;
  }
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

.open {
  position: fixed;
  top: 15px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.9; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 10;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgb(194,214,214);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: black;
  font-size: 14px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
  text-decoration: none;
}

.oppenned .sub-menu {
  opacity: 0.8;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }

@font-face{
  font-family: Equinox;
  src:url('../../fonts/Equinox Regular.otf');
}
h1{
  font-family: Equinox;
  margin-top: 30px;
  width: 70%;
}
@media all and (max-width: 400px){
  h1{
    font-size: 25px;
    margin-top: 30px;
  }
}